@import "reset.css";
@import "header.css";
@import "contentarea.css";
@import "offline.css";
@import "sidebar.css";
* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;
    background: #29292B;
    color: #CDCDD0
}

.container {
    display: flex;
    flex-flow: row wrap;
    /* max-width: 1400px; */
    /* margin: 0 auto; */
}

a {
    text-decoration: none;
    transition: all .6s blue;
}

a:hover {
    color: blue;
}

.fa {
    color: #CDCDD0;
    transition: all .6s ease-in-out;
}
.fa:hover {
    color: blue
}
