#sidebar {
    height: 100%;
    width: 15%;
    position: fixed;
    border-right: 1px solid #CDCDD0;
    padding: 10px;
}

#sidebar .rec {
    margin-top: 10px;
}

#sidebar h2 {
    margin-left: 20px;
    font-size: 15px;
    font-weight: 800;
    color: #CDCDD0;
}

#sidebar .channels .live-channel {
    display: block;
    margin-top: 30px; 
}

#sidebar .channels .live-channel .user-photo img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-block;
    float: left;
}

#sidebar .channels .live-channel .user-info a{
    margin-left: 55px;
    display: block;
    color: #CDCDD0;
    transition: all .6s ease-in-out;
}

#sidebar .channels .live-channel .user-info a:hover {
    color: blue;
}

#sidebar .channels .live-channel .user-info .user-name {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
}

#sidebar .channels .live-channel .user-info .user-game {
    padding-top: 6px;
    font-size: 12px;
    font-weight: 600;
    
}

#sidebar .channels .live-channel .user-info .views {
    display: inline-block;
    float: right;
    margin-right: 5px;
    margin-top: -23px;
}

#sidebar .channels .live-channel .user-info .views span {
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
}

#sidebar .channels .live-channel .user-info .views .live-btn {
    display: inline-block;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background: #DE1916;
    border: 2px solid #DE1916;
}